kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraMounts:
      - hostPath: /lib/modules
        containerPath: /lib/modules
        readOnly: true
      - hostPath: /sys/fs/bpf
        containerPath: /sys/fs/bpf
        readOnly: false
  - role: worker
    extraMounts:
      - hostPath: /lib/modules
        containerPath: /lib/modules
        readOnly: true
      - hostPath: /sys/fs/bpf
        containerPath: /sys/fs/bpf
        readOnly: false
  - role: worker
    extraMounts:
      - hostPath: /lib/modules
        containerPath: /lib/modules
        readOnly: true
      - hostPath: /sys/fs/bpf
        containerPath: /sys/fs/bpf
        readOnly: false
