{{- include "zxporter.validateConfig" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devzero-zxporter
    control-plane: controller-manager
  name: devzero-zxporter-controller-manager
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
        {{- include "zxporter.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.priorityClass.enabled }}
      priorityClassName: {{ include "zxporter.fullname" . }}-critical
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - args:
            - --metrics-bind-address=:8443
            - --leader-elect
            - --mpa-server-port={{ .Values.mpaServer.port }}
            - --health-probe-bind-address=:8081
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - name: http-metrics
              containerPort: 8080
              protocol: TCP
            - name: mpa-grpc
              containerPort: {{ .Values.mpaServer.port }}
              protocol: TCP
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          {{- if .Values.zxporter.useSecretForToken }}
            {{- if .Values.zxporter.clusterToken }}
            - name: CLUSTER_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.zxporter.tokenCredentialsSecretName }}
                  key: CLUSTER_TOKEN
            {{- end }}
            {{- if .Values.zxporter.patToken }}
            - name: PAT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.zxporter.tokenCredentialsSecretName }}
                  key: PAT_TOKEN
            {{- end }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: manager
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: 200m
              memory: 128Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - mountPath: /etc/zxporter/config
              name: config-volume
              readOnly: true
      securityContext:
        runAsNonRoot: true
      serviceAccountName: devzero-zxporter-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
        - configMap:
            name: {{ .Values.zxporter.tokenConfigMapName }}
          name: config-volume
