apiVersion: v1
kind: ServiceAccount
metadata:
  name: zxporter-netmon
  namespace: devzero-zxporter
  labels:
    app: zxporter-netmon
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: zxporter-netmon
  namespace: devzero-zxporter
  labels:
    app: zxporter-netmon
spec:
  selector:
    matchLabels:
      app: zxporter-netmon
  template:
    metadata:
      labels:
        app: zxporter-netmon
    spec:
      serviceAccountName: zxporter-netmon
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet

      containers:
        - name: zxporter-netmon
          image: devzero/zxporter-netmon:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8081
              protocol: TCP
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - SYS_RESOURCE
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi
      tolerations:
        - operator: Exists
          effect: NoSchedule
